body{
    background-image:url("../images/dark-grey-terrazzo.png");
}

label {
    color: white;
}

h1 {
    color: white;
}

.display-4 {
    color: black;
}

small {
    color: white;
}

.form-text-text-muted {
    color: white;
}